# Node dependencies
**/node_modules/

# Next.js
gui/.next/
gui/next-env.d.ts
gui/out/

# Cargo
core/target/

# Tauri generated
core/gen/

# Editor config
.vscode/*
!.vscode/settings.json

# envs
.env
