# Node dependencies
**/node_modules/

# Next.js
**/.next/
**/next-env.d.ts
**/out/

# Cargo
target/
.cargo/

# Tauri generated
**/gen/

# Editor config
.vscode/*
!.vscode/settings.json

# Turborepo
**/.turbo/

# envs
.env
